.wrapper
  =render "header"  
  .useredits
    .useredits-line
      .useredits-line_prof
        .useredits-line_prof_main
          .useredits-line_prof_main_user
            .useredits-line_prof_main_user_into
              %h2 プロフィール編集
              = form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f|
                = render "devise/shared/error_messages", resource: resource
                .editmain
                  .editmain_left
                    .editmain_left_name
                      = f.label :ユーザ名
                    .editmain_left_namemain
                      = f.text_field :name, autofocus: true, placeholder: "ユーザ名"
                    .editmain_left_tall
                      = f.label :身長
                    .editmain_left_tallmain
                      = f.select :tall,['50cm','60cm','70cm','80cm','90cm','100cm','110cm','120cm','121cm','122cm','123cm','124cm','125cm','126cm','127cm','128cm','129cm','130cm','131cm','132cm','133cm','134cm','135cm','136cm','137cm','138cm','139cm','140cm','141cm','142cm','143cm','144cm','145cm','146cm','147cm','148cm','149cm','150cm','151cm','152cm','153cm','154cm','155cm','156cm','157cm','158cm','159cm','160cm','161cm','162cm','163cm','164cm','165cm','166cm','167cm','168cm','169cm','170cm','171cm','172cm','173cm','174cm','175cm','176cm','177cm','178cm','179cm','180cm','181cm','182cm','183cm','184cm','185cm','186cm','187cm','188cm','189cm','190cm','191cm','192cm','193cm','194cm','195cm','196cm','197cm','198cm','199cm','200cm','210cm','220cm','230cm','240cm','250cm','260cm','270cm']
                    .editmain_left_sex
                      = f.label :性別
                    .editmain_left_sexmain
                      = f.select :sex, ['MEN', 'WOMEN']
                    .editmain_left_age
                      = f.label :年齢
                    .editmain_left_agemain
                      = f.text_field :age, placeholder: "年齢(歳)"
                    .editmain_left_profile
                      = f.label :自己紹介
                    .editmain_left_profilemain  
                      = f.text_area :profile, autofocus: true,placeholder: "自己紹介"
                  .editmain_right
                    .editmain_right_form
                      .editmain_right_form_sub
                        %span.icon
                        %span.icontext  プロフィール画像をアップロード
                      .editmain_right_form_main
                        .editmain_right_form_main_ajax
                        .editmain_right_form_main_file
                          = f.file_field :image, class: "image_form"
                          %span.texpic  
                            写真アップロード
                .editmainsubmit
                  = f.submit "更新", { :class => 'submit-btnaa' }    
  =render "footer"
