%header.header_bars
  %nav.header_bars_1
    .header_bars_1_left
      %h1.header_bars_1_left_logo
        %a{ href: '/',class: 'header_bars_1_left_logo_main' }KStargram
        %ul.header_bars_1_left_logo_search
          = form_with(url: search_tweets_path, local: true, method: :get, class: "header_bars_1_left_logo_search_path") do |form|
            = form.text_field :keyword, placeholder: " 検索...", class: "header_bars_1_left_logo_search_path_input"
            %button.header_bars_1_left_logo_search_path_btn{:type => "submit"}
              %i.fas.fa-search
    - if user_signed_in?
      .header_bars_1_right
        %ul.header_bars_1_right_list
          %li.header_bars_1_right_list_item
            = link_to root_path do
              %i.fas.fa-home
          %li.header_bars_1_right_list_item
            = link_to new_tweet_path do
              %i.fab.fa-instagram
          %li.header_bars_1_right_list_item
            = link_to users_path do
              %i.fa.fa-book-open
            -# %i.fas.fa-heart
          %li.header_bars_1_right_list_item
            %i.header_bars_1_right_list_item_icon.fa.fa-user
            %ul.header_bars_1_right_list_item_list
              %li.header_bars_1_right_list_item_list_edit
                .ffffsss
                  %i.fa.fa-user
                .skfkfk  
                  = link_to asset_url("/users/#{current_user.id}") do
                    マイページ
              %li.header_bars_1_right_list_item_list_edit
                .ffffsss
                  %i.fas.fa-sign-out-alt
                .skfkfk 
                  = link_to destroy_user_session_path, method: :delete do
                    ログアウト
              %li.header_bars_1_right_list_item_list_edit
                .ffffsss
                  %i.fa.fa-cog.header-items__icons--cog
                .skfkfk 
                  = link_to edit_user_registration_path  do
                    設定
    - else
      .header_bars_1_right
        %ul.header_bars_1_right_list
          %li.header_bars_1_right_list_item
            = link_to root_path do
              %i.fas.fa-home
          %li.header_bars_1_right_list_item
            %i.header_bars_1_right_list_item_icon.fa.fa-user
            %ul.header_bars_1_right_list_item_list
              %li.header_bars_1_right_list_item_list_edit
                .ffffsss
                  %i.fa.fa-user
                .skfkfk  
                  = link_to new_user_registration_path do
                    新規登録
              %li.header_bars_1_right_list_item_list_edit
                .ffffsss
                  %i.fas.fa-sign-out-alt
                .skfkfk 
                  = link_to new_user_session_path do
                    ログイン
              

