.wrapper
  = render "header"
  .profiletop
    %aside.profiletop-side
      .profiletop-side-user
        .profiletop-side-user-image
          =image_tag(@user.image_url)
        .profiletop-side-user-users
          %h3.profiletop-side-user-users-content
            = link_to asset_url("/users/#{current_user.id}") do
              =@user.name
          %h3.profiletop-side-user-users-id
            = link_to asset_url("/users/#{current_user.id}") do
              =@user.usernoid
    %main.profiletop-main
      .profiletop-main-content
        .profiletop-main-content-header
          %h1 いいね
        %ul.profiletop-main-content-list
          - @user.liked_tweets.each do |tweet|
            .profiletop-main-content-list-item
              .profiletop-main-content-list-item-image
                %a{:href => "/tweets/#{tweet.id}"}= image_tag(tweet.image_url) 
              .profiletop-main-content-list-item-user
                %p.profiletop-main-content-list-item-user-title
                  %a{:href => "/tweets/#{tweet.id}"}=tweet.title
                .profiletop-main-content-list-item-user-footer
                  .profiletop-main-content-list-item-user-footer-id
                    .profiletop-main-content-list-item-user-footer-id-photo
                      %a{:href => "/users/#{tweet.user.id}"}= image_tag(tweet.user.image_url)
                    .profiletop-main-content-list-item-user-footer-id-name
                      %a{:href => "/users/#{tweet.user.id}"}=tweet.user.name
                    .profiletop-main-content-list-item-user-footer-id-like
                      .profiletop-main-content-list-item-user-footer-id-like-count
                        %i.favo.far.fa-heart
                        =tweet.likes.count
  =render "footer"          
                    