.wrapper
  = render "header"
  -# .gbl_main
  -#   .gbl_main_title
  -#     .gbl_main_title_container
  -#       .gbl_main_title_container_titles
  -#         %h1.tit.icon_font
  -#           %span.ico
  -#           %i.fa.fa-user
  -#           %i.stst プロフィール画面
  .profiletop
    %aside.profiletop-side
      .profiletop-side-user
        .profiletop-side-user-image
          =image_tag(@user.image_url)
        .profiletop-side-user-users
          %h3.profiletop-side-user-users-content
            = link_to asset_url("/users/#{current_user.id}") do
              =@user.name
          %h3.profiletop-side-user-users-id
            = link_to asset_url("/users/#{current_user.id}") do
              =@user.usernoid
    %main.profiletop-main
      .profiletop-main-content
        .profiletop-main-content-header
          %h1 いいね
        %ul.profiletop-main-content-list
          - @user.liked_tweets.each do |tweet|
            .profiletop-main-content-list-item
              .profiletop-main-content-list-item-image
                %a{:href => "/tweets/#{tweet.id}"}= image_tag(tweet.image_url) 
              .profiletop-main-content-list-item-user
                %p.profiletop-main-content-list-item-user-title
                  %a{:href => "/tweets/#{tweet.id}"}=tweet.title
                .profiletop-main-content-list-item-user-footer
                  .profiletop-main-content-list-item-user-footer-id
                    .profiletop-main-content-list-item-user-footer-id-photo
                      %a{:href => "/users/#{tweet.user.id}"}= image_tag(tweet.user.image_url)
                    .profiletop-main-content-list-item-user-footer-id-name
                      %a{:href => "/users/#{tweet.user.id}"}=tweet.user.name
                    .profiletop-main-content-list-item-user-footer-id-like
                      .profiletop-main-content-list-item-user-footer-id-like-count
                        %i.favo.far.fa-heart
                        =tweet.likes.count
                
              
        -#   %ul.profiletop-main-content-list
        -#     %li.profiletop-main-content-list-item
        -#       .profiletop-main-content-list-item-user-list
        -#         .profiletop-main-content-list
        -#           %a{:href => "/tweets/#{tweet.id}"}= image_tag(tweet.image_url)
                  -# %a{:href => "/users/#{tweet.user.id}"}= tweet.user.usernoid
                  -# %a{:href => "/users/#{tweet.user.id}"}= tweet.user.name
                  -# %a{:href => "/tweets/#{tweet.id}"}= tweet.title
    -# .usertotallike
    -#   %h3.usertotallike_title いいねしている投稿
    -#   %table
    -#     %tr
    -#       %th ユーザID
    -#       %th ユーザ名
    -#       %th タイトル
    -#     - @user.liked_tweets.each do |tweet|
    -#       %tr
    -#         %td
    -#           %a{:href => "/users/#{tweet.user.id}"}= tweet.user.usernoid
    -#         %td
    -#           %a{:href => "/users/#{tweet.user.id}"}= tweet.user.name
    -#         %td
    -#           %a{:href => "/tweets/#{tweet.id}"}= tweet.title
    -#         %td
    -#           %a{:href => "/tweets/#{tweet.id}"}= tweet.image
  =render "footer"          
                    