!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title KStargram
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
  = yield
  -# .footer
  -#   .footer_p
  -#     %ul.footer_p_link
  -#       %li.p-footer_link_list
  -#         = link_to root_path do
  -#           KStagramとは
  -#       %li.p-footer_link_list
  -#         = link_to root_path do
  -#           利用規約
  -#       %li.p-footer_link_list
  -#         = link_to root_path do
  -#           プライバシーポリシー
  -#   .footersite Copyright © KStagram 2020
